<section class="authentication">

  <div class="authentication__container">

    <h4 class="authentication__title">Authentication</h4>

    <p class="authentication__subtitle">
      <span>Do not have an account?</span>
      <a routerLink="/register">Register/Sign up</a>
    </p>

    <app-verification-error *ngIf="verificationError" [enteredEmail]="enteredEmail"></app-verification-error>

    <form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">

      <!--      email control-->
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
      >
        <div>
          <label for="email">Email</label>
          <div
            *ngIf="form.get('email').touched && form.get('email').invalid"
            class="validation"
          >
            <small *ngIf="form.get('email').errors.required">
              Field is required
            </small>
            <small *ngIf="form.get('email').errors.pattern && !form.get('email').errors.maxlength">
              Please enter a valid email address
            </small>
            <small *ngIf="form.get('email').errors.maxlength">
              Please enter less than 255 characters
            </small>
          </div>
        </div>
        <input id="email" type="email" formControlName="email">
      </div>
      <!--      END of email control-->

      <!--      password control-->
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
      >
        <div>
          <label for="password">Password</label>
          <div
            *ngIf="form.get('password').touched && form.get('password').invalid"
            class="validation"
          >
            <small *ngIf="form.get('password').errors.required">
              Field is required
            </small>
            <small *ngIf="form.get('password').errors.minlength">
              Password must be at least
              {{form.get('password').errors.minlength.requiredLength}}
              characters
            </small>
            <small *ngIf="form.get('password').errors.maxlength">
              Please enter less than 255 characters
            </small>
          </div>
        </div>
        <input id="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <i class="hide-control">
          <img
            (click)="hidePassword = !hidePassword"
            [src]="hidePassword
              ? 'assets/images/eye.svg'
              : 'assets/images/eye-active.svg'"
            alt="hide/show password"
          >
        </i>
      </div>
      <!--      END of password control-->

      <div class="authentication__actions">
        <input
          type="checkbox"
          class="custom-checkbox"
          id="remember"
          name="remember"
          formControlName="rememberMe"
        >
        <label for="remember">Remember me</label>
        <a routerLink="/reset-password">Forgot password?</a>
      </div>

      <button
        class="primary-button"
        type="submit"
        mat-flat-button
        [disabled]="form.invalid || form.disabled"
        [ngSwitch]="isLoading"
      >
        <span *ngSwitchCase="false">Sign in</span>
        <app-progress-spinner *ngSwitchCase="true"></app-progress-spinner>
      </button>
    </form>
  </div>
</section>
