<div class="connections">

  <div class="connections__item">
    <img class="connections__img" src="assets/images/apple-watch.svg" alt="Connect Wearables">
    <h4 class="connections__label">Connect Wearables</h4>
    <button
      (click)="notificationService.showMessage('Connect Wearables')"
      type="button"
      mat-flat-button
      class="primary-button"
    >More Information</button>
  </div>

  <div class="connections__item">
    <img class="connections__img" src="assets/images/lpc-data.svg" alt="Connect LPC Data">
    <h4 class="connections__label">Connect LPC Data</h4>
    <mat-slide-toggle
      [checked]="connHLProps"
      (click)="onLpcConnect()"
      disabled
    ></mat-slide-toggle>
  </div>

  <div class="connections__item">
    <img class="connections__img" src="assets/images/ai.svg" alt="AI Assistant">
    <h4 class="connections__label">AI Assistant</h4>
    <button
      type="button"
      mat-flat-button
      class="primary-button"
      (click)="notificationService.showMessage('AI Assistant connect')"
    >Connect</button>
  </div>
</div>
