@import "../../assets/scss";

.site {
  background-color: #fff;

  &__nav {
    width: 100px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 10;
  }
}

@media screen and (max-width: $md) {
  .site {

    &__nav {
      width: 260px;
    }
  }
}
