@import "src/assets/scss";

.update-password {
  @extend %auth-section;

  &__container {
    @extend %auth-container;
  }

  &__title {
    @extend %auth-section-title;
  }
}

.primary-button {
  @extend %auth-primary-button;
}

@include max-w($sm) {
  .update-password {
    padding: 90px 0 64px;

    &__container {
      border: none;
      padding: 0 10px;
    }

    &__title {
      margin-bottom: 24px;
    }
  }
}
