$accent-color: #0b82f2;
$warn-color: #0b82f2;
$danger-color: #0b82f2;
$white-color: #fff;
$light-grey-color: #f1f1f1;
$grey-color: #b0b0b0;
$black-color: #333;
$violet-blue-color: #758df6;
$active-color: #666;
