@import "src/assets/scss";

.header {
  position: relative;
  height: 60px;
  border-bottom: 1px $light-grey-color solid;
  padding: 0 30px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__menu-trigger {
    display: none;
    align-items: center;
    justify-content: center;
  }

  &__menu-icon {
    width: 16px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;

    div {
      background-color: $black-color;
      height: 2px;
      width: 100%;
      border-radius: 4px;
    }
  }

  &__logo {
    height: 30px;
    display: block;
  }

  &__status {
    display: flex;
    align-items: center;
  }

  &__notification-container {
    margin-right: 10px;
  }

  &__logout {
    margin-left: 20px;
  }
}

@include max-w($md) {
  .header {
    height: 36px;
    // buttons have ripple effect that take some space (see padding and width in buttons)
    padding: 0 calc(10px - ((30px - 16px) / 2));

    &__menu-trigger {
      display: flex;
      width: 30px;
      height: 30px;
    }

    &__logo {
      height: 22px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__notification-container {
      margin: 0;
    }

    &__profile {
      display: none;
    }

    &__logout {
      display: none;
    }
  }
}
