<section class="reset-password">

  <div class="reset-password__container">

    <h4 class="reset-password__title">Reset password</h4>

    <form class="auth-form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">

      <!--      email control-->
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
      >
        <div>
          <label for="email">Email</label>
          <div
            *ngIf="form.get('email').touched && form.get('email').invalid"
            class="validation"
          >
            <small *ngIf="form.get('email').errors.required">
              Field is required
            </small>
            <small *ngIf="form.get('email').errors.pattern && !form.get('email').errors.maxlength">
              Please enter a valid email address
            </small>
            <small *ngIf="form.get('email').errors.maxlength">
              Please enter less than 255 characters
            </small>
          </div>
        </div>
        <input id="email" type="email" formControlName="email">
      </div>
      <!--      END of email control-->

      <button
        class="primary-button"
        type="submit"
        mat-flat-button
        [disabled]="form.invalid || form.disabled"
        [ngSwitch]="isLoading"
      >
        <span *ngSwitchCase="false">Reset</span>
        <app-progress-spinner *ngSwitchCase="true"></app-progress-spinner>
      </button>
    </form>
  </div>
</section>
